<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>搜狗商城</title>
    <link rel="stylesheet" href="../css/rest.css">
    <link rel="stylesheet" href="../css/one.css">
    <link rel="stylesheet" href="../images/icon.png">
    <link rel="stylesheet" href="../css/swiper.css">
    <link rel="stylesheet" href="../css/page.css">
    <script src="../lib/jquery-1.12.4.js"></script>
    <script src="../lib/template-web.js"></script>
    <script src="../lib/swiper.js"></script>
    <script src="../js/swiperjson.js"></script>
    <script src="../js/indextemple.js"></script>
</head>
<body>
    <div id="app">
    <div class="root">
        <a href="#app" class="skip">跳过导航</a>
        <header>
            <span class="progress hide">
                <span class="progress progress-loader-barprogress"></span>
            </span>
            <div class="topbar h5-hide">
             <div class="wp cl"> 
                 <a href="javascript:;" class="f1" >搜狗商城</a>
                 <span class="sep f1"></span>
                 <a href="javascript:;" class="f1" >意见反馈</a>
                 <span class="sep f1"></span>
                 <a href="javascript:;" class="f1">收藏本站</a>
                 <a href="car.html" class="cart fr cart-empty">购物车(0)</a>
                 <a href="javascript:;" class="fr service">在线客服</a>
                 <span class="sep fr"></span>
                 <a href="javascript:;" class=" fr drop-qrcode">手机商城
                     <div class="qrcode-box">

                     </div>
                 </a>
                 <span class="sep fr"></span>
                 <a href="javascript:;" class="fr ">S码通道</a>
                 <span class="sep fr"></span>
                 <a href="register.html" class="fr ml10">注册</a>
                 <a href="index.html" class="fr ">登录</a>
             </div>
            </div>
            <nav class="navs h5-hide">
                <div class="wp cl">
                      <a href="javascript:;" class="logo fl">
                          <span class="icon-logo"></span>
                          <span class="name">搜狗商城</span>
                      </a>
                      <ul class="menu fl">
                          <li class="nav">
                              <a href="swiper.html" >首页</a>
                          </li>
                          <li class="nav menu-group" id="ft">
                            <a href="javascript:;" class="top-lnk"  >智能翻译</a>
                            <div class="sub-menu h5-hide">
                                <ul class="wp cl" id="goods">

                                </ul>
                            </div>
                        </li>
                        <li class="nav menu-group" id="ft">
                            <a href="javascript:;" class="top-lnk">唐猫手表</a>
                            <div class="sub-menu h5-hide">
                                <ul class="wp cl" id="firsts">
                                </ul>
                            </div>
                        </li>
                        <li class="nav menu-group" id="ft">
                            <a href="javascript:;" class="top-lnk">配件</a>
                            <div class="sub-menu h5-hide">
                                <ul class="wp cl" id="three">
                                </ul>
                            </div>
                        </li>
                        <li class="nav">
                            <a href="javascript:;" >社区</a>
                        </li>
                        <li class="nav">
                            <a href="swiper.html" >录音笔网页版</a>
                        </li>
                      </ul>
                </div>
            </nav>
        </header>
        <main id="app-content">
          <!-- 轮播图 -->
          <div class="home-root">
                <div class="swiper-container swiper1">
                    <div class="swiper-wrapper roots" >
                         
                      </div>
                   
                    <!-- 小圆点 -->
                    <div class="swiper-pagination"></div>        
                    <!-- 左右箭头 -->
                    <div class="icon-swiper-prev swiper-button-prev"></div>
                    <div class="icon-swiper-next swiper-button-next"></div>
                  </div>
         </div >
          <!-- 占位30px -->
          <div class="wp" style="hight:30px;"></div>
          <!-- 产品推荐 -->
          <div class="mod-title wp" >
              <h2 class="title">智能产品推荐</h2>
              <span class="desc">工作学习，出国旅游好帮手</span>
          </div>
          <!-- 占位20px -->
          <div class="wp" style="height: 20px;"></div>
          <!-- 智能商品推荐 -->
          <div class="wp">
              <div class="imgs cl imgs2 product-list">
                  <a href="javascript:;">
                      <img class="lazyloaded" src="https://mall03.sogoucdn.com/image/2020/02/27/20200227172124_3212.png" alt="">
                  </a>
                  <a href="javascript:;">
                      <img class="lazyloaded" src="https://mall02.sogoucdn.com/image/2020/05/27/20200527171546_4452.png" alt="">
                  </a>
              </div>
              <!--占位30px -->
              <div class="wp" style="height: 30px; padding-top: 370px;"> </div>
              <!-- 糖猫产品  -->
              <div class="mod-title wp">
                  <h2 class="title">糖猫产品</h2>
                  <span class="desc">糖猫连续三年获“全国质量诚信示范企业”国民信赖品牌实至名归</span>
              </div>
              <!-- 占位20px -->
              <div class="wp" style="height: 20px;"></div>
              <!-- 糖猫产品 -->
              <div class="wp" >
                <div class="products product-list c1 product4" id="product-root">
                  
                </div>
            </div>
            <!-- 占位20px -->
            <div class="wp" style="height: 20px; padding-top: 370px;"></div>
          </div>
          <div class="wp">
              <div class="imgs cl  imgs1">
                  <a href="javascript:;">
                      <img src="https://mall01.sogoucdn.com/image/2019/07/16/20190716144306_1679.png" alt="" class="lazyloaded"> 
                  </a>
              </div>
          </div>
          <!-- 占位30px -->
          <div class="wp" style="height: 30px;"></div>
          <!-- 中部轮播图 -->
          <div class="home-root">
            <div class="swiper-container swiper2">
                <div class="swiper-wrapper roots1" >
                     
                  </div>
               
                <!-- 小圆点 -->
                <div class="swiper-pagination"></div>        
                <!-- 左右箭头 -->
                <div class="icon-swiper-prev swiper-button-prev"></div>
                <div class="icon-swiper-next swiper-button-next"></div>
              </div>
     </div >
        </main>
        <footer class="footer h5-hide">
            <div class="toolbar toolbar-show ">
                <div class="tools">
                    <a href="javascript:;" class="toolbar-btn">
                        <i class="icon-toolbar-ucenter"></i>
                        <span>个人中心</span>
                    </a>
                    <a href="./car.html" class="toolbar-btn">
                        <i class="icon-toolbar-cart"></i>
                        <span>购物车</span>
                    </a>
    
                </div>
                <div class="gotop">
                    <a href="javascript:;" class="toolbar-btn">
                        <i class="icon-toolbar-top"></i>
                        <span class="name">回到顶部</span>
                    </a>
                </div>
            </div>
            </footer>
    </div>
</div>
<script src="../js/goods.js"></script>
<script type="text/template" id="goodsList">
    <% for(var i = 0;i<list.length;i++){%>
        <li class="sub-item">
            <a href="detail.html?id=<%=list[i].id%>" >
                <span class="cover">
                    <img src="<%=list[i].img[0]%>" alt="">
                </span>
                <span class="name"><%=list[i].name%></span>
                <span class="price">￥<%=list[i].price%></span>
            </a>
            <span class="sub-sep"></span>
        </li>
   <% }%>
</script>
<script type="text/template" id="goodsList2">
    <%for(var i =0;i<list.length;i++){%>
        <li class="sub-item">
            <a href="detail.html?id=<%=list[i].id%>" >
                <span class="cover">
                    <img src="<%=list[i].img[1]%>" alt="">
                </span>
                <span class="name"><%=list[i].name%></span>
                <span class="price">￥<%=list[i].price%></span>
            </a>
            <span class="sub-sep"></span>
        </li>
    <%}%>
    </script>
    <script type="text/template" id="goodsList3">
        <% for(var i = 0;i<list.length;i++){%>
            <li class="sub-item">
                <a href="detail.html?id=<%=list[i].id%>">
                    <span class="cover">
                        <img src="<%=list[i].img[2]%>" alt="">
                    </span>
                    <span class="name"><%=list[i].name%></span>
                    <span class="price">￥<%=list[i].price%></span>
                </a>
                <span class="sub-sep"></span>
            </li>
       <% }%>
    </script>
<!-- 顶部轮播渲染 -->
<script type="text/template" id="root-lunbo">
    <% for(var i = 0;i<list.length;i++){%>
        <div class="swiper-slide">
            <a href="javascript:;" >
                <img src="<%=list[i].img%>" alt="">
            </a>
        </div>
   <% }%>
</script>
<script type="text/template" id="root-referral">
    <% for(var i = 0;i<list.length;i++){%>
        <a href="javacript:;" class="product">
            <img src="<%=list[i].img%>" alt="" class="ls-is-cached lazyloaded">
            <span class="name"><%=list[i].name%></span>
            <span class="desc"><%=list[i].state%></span>
            <span class="price">
                <span class="currprice">
                    ￥<%=list[i].price%>
                </span>
            </span>
        </a>
   <% }%>
</script>
<!-- 中部轮播渲染 -->
<script type="text/template" id="root-lunbo2">
    <% for(var i = 0;i<list.length;i++){%>
        <div class="swiper-slide">
            <a href="javascript:;" >
                <img src="<%=list[i].img%>" alt="">
            </a>
        </div>
   <% }%>
</script>
<script>
    $(function(){
        $('.fr').eq(8).html('你好'+localStorage.getItem('un'));
    })
</script>
</body>
</html>